__pycache__

tmp*
FA_files/
.virtual_documents
dist/
poetry.lock
*.ipynb_checkpoints*

examples/*.nc
examples/*.py #these are just py copies of the ipynb
buildscripts/*_log


tests/data/*

*.png
*.pdf


buildscripts/deploy_to_pypi


.spyproject
development/*
